#outer {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#top {
    height: 50%;
    vertical-align: middle;
    padding: 20px;
}

.search {
    height: 40px;
}

#searchBox {
    width: 400px;
}

#submit {

}

.ui-helper-hidden-accessible {
    display:none;
}

a {
    color: inherit;
}

.map {
    width:500px;
    height:250px;
}

.results {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
    font-size: 40px;
}

.left {
    vertical-align: middle;
}

.right {
    vertical-align: middle;
}
