{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

    <div id="outer">
        <div id="inner">
            <form>
                <input class="search" type="text" id="searchBox" placeholder="Search.." autocomplete="on">
                <input class="search" type="submit" value="search">
            </form>
        </div>
    </div>

    <div id="result">TEST</div>



{% endblock %}

{% block javascript %}
    <script>
        $( function() {
            $( "#searchBox" ).autocomplete({
                minLength: 1,
                source: function(req, add){
                    var search = $("#searchBox").val();
                    $.ajax({
                        url: '/search/',
                        dataType: 'json',
                        data:{'search': search},
                        success: function(data) {
                            var suggestions=[];

                            $.each(data, function(index, object){
                                suggestions.push(object);
                            });

                            add(suggestions);
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    })
                }
            });
        } );

    </script>


{% endblock %}