{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

    <div id="outer">
        <div id="inner">
            <form id="search" method="get" action="{% url 'search' %}">
                <input class="search" type="text" id="searchBox" name="searchBox" placeholder="Search.." autocomplete="on">
                <input class="search" type="submit" value="search">
            </form>
        </div>
    </div>

    <div id="storeList">
        {% for store in context %}
            <span><a href="/store_status/{{ store.store_name }}">{{ store.store_name }}</a></span>
            <span>{{ store.latitude }}</span>
            <span>{{ store.latitude }}</span>
            <div class="map" id="map_{{ store.store_name }}"></div>
            <p>
        {% endfor %}
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $( function() {
            $( "#searchBox" ).autocomplete({
                minLength: 1,
                source: function(req, add){
                    var searchWord = $("#searchBox").val();
                    $.ajax({
                        url: '/autocomplete/',
                        dataType: 'json',
                        data:{'search_word': searchWord},
                        success: function(data) {
                            var suggestions=[];

                            $.each(data, function(index, object){
                                suggestions.push(object);
                            });

                            add(suggestions);
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    })
                }
            });
        });

        var storeInfos = [];

        function makeStoreInfo() {
            this.store_name = 'none';
            this.latitude = 0;
            this.longitude = 0;
        };


        {% for store in context %}
            var StoreInfo = new makeStoreInfo();
            StoreInfo.store_name = '{{ store.store_name }}';
            StoreInfo.latitude = {{ store.latitude }};
            StoreInfo.longitude = {{ store.longitude }};
            storeInfos.push(StoreInfo);
        {% endfor %}

        for (var i = 0; i < storeInfos.length; i++){
            var container = document.getElementById('map_'+storeInfos[i].store_name);
            var latitude = storeInfos[i].latitude;
            var longitude = storeInfos[i].longitude;
            var options = {
                center: new daum.maps.LatLng(latitude, longitude),
                level: 2 //지도의 레벨(확대, 축소 정도)
            };
            var map = new daum.maps.Map(container, options);

            var markerPosition  = new daum.maps.LatLng(latitude, longitude);
            var marker = new daum.maps.Marker({
                position: markerPosition
            });

            marker.setMap(map);
        }

    </script>
{% endblock %}