{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="top">
        <div class="topLeft"><a href="/">HOME</a></div>
        <div class="topCenter">{{ store_name }}</div>
        <div class="topRight"><span id="takenTableNum">0</span> / <span id="totalTableNum">0</span></div>
    </div>
    <p>

        <div class="middle" id="tables">
            {% for i in range %}
                <a href="#" onClick="isCheck('popDiv', {{ i }})"><img src="/static/img/f_{{ i }}.jpg" id="table_{{ i }}" class="tableImg"></a>
                {% if i == 5 %}
                    <p>
                {% endif %}
            {% endfor %}
            </div>

            <div id="popDiv" class="onTop">
                <div id="popup">
                    <div id="close"><a href="#" onClick="hide('popDiv')">Close</a></div>
                    <h2>*Setting</h2>
                    <div class="showTableNum">set No.<span id="tableNumber">0</span> table<p></div>
    <div id="setting">
        <div class="setting" id="taken"><a href="#" onClick="hide('popDiv')">taken</a></div>
        <div class="setting" id="free"><a href="#" onClick="hide('popDiv')">free</a></div>
    </div>
    </div>
    </div>

    <div class="bottom">
        <div class="info">
            <img src="/static/img/free.png" class="infoImg">사용가능좌석
            <img src="/static/img/taken.png" class="infoImg">사용중좌석
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>

        function isCheck(div, num){
            var table = "table_"+num;
            var src = document.getElementById(table).src;
            var index = src.indexOf(num);
            if(src.charAt(index-2) == "c")
                pop(div, num);
        }

        function pop(div, num) {
            document.getElementById(div).style.display = 'block';
            document.getElementById("tableNumber").innerHTML = num;
        }

        function hide(div) {
            document.getElementById(div).style.display = 'none';
        }

        document.onkeydown = function(evt) {
            evt = evt || window.event;
            if (evt.keyCode == 27) {
                hide('popDiv');
            }
        };

        $('document').ready(function(){
            function setTableNum(num){
                var tableNum = "table_" + num;
                var table = document.getElementById(tableNum);

                return table;
            }

            function setTableStatus(tableStatus){
                var src;
                var taken = 0;

                for(var i=0 ; i<=tableStatus.length ; i++){
                    if(tableStatus[i] == 0)
                        src = "f_" + (i+1) + ".jpg";
                    else if(tableStatus[i] == 1){
                        src="t_" + (i+1) + ".jpg";
                        taken += 1;
                    }
                    else{
                        src="c_" + (i+1) + ".png";
                        taken += 1;
                    }

                    var table = setTableNum(i+1);
                    setSrc(table, src);
                    setTakenNum(taken, tableStatus.length);

                }

            }

            function setSrc(table, src){
                table.src = "/static/img/"+src;
            }

            function setTakenNum(taken, total){
                $("#takenTableNum").text(taken);
                $("#totalTableNum").text(total);
            }

            $('#taken').click(function(){
                $.ajax({
                    url:'{% url 'update_db' %}',
                    data:{
                        'storeName' : '{{ store_name }}',
                        'tableNum' : document.getElementById("tableNumber").innerHTML,
                        'setStatus' : '1'
                    },
                    datatype:'json',
                    success: function(data) {
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('#free').click(function(){
                $.ajax({
                    url:'{% url 'update_db' %}',
                    data:{
                        'storeName' : '{{ store_name }}',
                        'tableNum' : document.getElementById("tableNumber").innerHTML,
                        'setStatus' : '0'
                    },
                    datatype:'json',
                    success: function(data) {
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            setInterval(function(){
                $.ajax({
                    datatype:'json',
                    url:"/store_status/{{ store_name }}",
                    success: function(data) {
                        tableStatus = data.table_status;
                        setTableStatus(tableStatus);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }, 2000);

        });


    </script>



{% endblock %}